/* Text colors */
$main-txt-cl: rgba(255, 255, 255, 1);
$secondary-txt-cl:rgba(0, 0, 0, 1);
$third-txt-cl:rgba(144, 126, 130, 1);
$main-brand-cl: rgba(212, 20, 67, 1);
$secondary-brand-cl:rgba(255, 165, 186, 1);


/* background colors */
$main-bg-cl: rgba(255, 255, 255, 1);
$secondary-bg-cl:rgba(255, 245, 246, 1);
$third-bg-cl: rgba(240, 209, 165, 1);
$fourth-bg-cl:rgba(194, 226, 151, 1);
$fifth-bg-cl:rgba(255, 184, 202, 1);
$socials-bg-cl:rgba(254, 165, 187, 1);
$accent-btn-bg-cl:rgba(212, 19, 66, 1);
$comment-bg-cl:rgba(250, 250, 250, 1);
$mobile-menu-bg-cl:rgba(225, 121, 146, 1);

/*other colors*/
$comment-icon-cl:rgba(225, 225, 225, 1);
$border-cl:rgba(225, 225, 225, 1);
$main-dots-cl:rgba(199, 19, 62, 1);
$secondary-dots-cl:rgba(211, 19, 66, 1);
$third-dots-cl:rgba(255, 255, 255, 1);
$fourth-dots-cl:rgba(217, 217, 217, 1);

/*shadows*/
$main-shadow:rgba(212, 20, 67, 0.1);