<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="about">
    <div class="container">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
      <img srcset="
      ../images/about/cow_280.png 280w,
      ../images/about/cow_336.png 336w,
      ../images/about/cow_501.png 501w,
      ../images/about/cow_560.png 560w,
      ../images/about/cow_672.png 672w,
      ../images/about/cow_1002.png 1002w,
    "
    sizes="
      (min-width: 1200px) 501px,
      (min-width: 768px) 336px,
      (max-width: 767px) 280px
    "
    src="../images/about/cow_280.png"
    width="280"
    height="279"
    alt="корова и кувшин молока">
    </div>
  </section>
</body>
</html>