  <section class="about">
    <div class="container">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
      <img srcset="
      ../images/about/cow_280.png 280w,
      ../images/about/cow_336.png 336w,
      ../images/about/cow_501.png 501w,
      ../images/about/cow_560.png 560w,
      ../images/about/cow_672.png 672w,
      ../images/about/cow_1002.png 1002w,
    "
    sizes="
      (min-width: 1200px) 501px,
      (min-width: 768px) 336px,
      (max-width: 767px) 280px
    "
    src="../images/about/cow_280.png"
    width="280"
    height="279"
    alt="корова и кувшин молока">
    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
    <button>Read More</button>
  </div>
  </section>